.recipe-details {
	padding: 20px;
	background-color: #81995c;
	margin-bottom: 40px;

	.icons {
		display: flex;
		justify-content: center;

		div {
			&:first-of-type {
				margin-right: 40px;
			}
		}
	}

	.details {
		display: flex;
		justify-content: space-between;

		div {
			width: 45%;
		}
	}
}

@media screen and (min-width: 1200px) {
	.recipe-details {
		max-width: 1180px;
		margin: 0 auto;
	}
}
