.form-element {
    position: relative;
    margin-bottom: 30px;

    label {
        display: block;
        font-size: 12px;
        margin-bottom: 5px;
    }

    input,
    textarea {
        outline: none;
        width: 100%;
        padding: 15px;
        font-size: 14px;
        border: 1px solid transparent;
        background-color: #fafafa;
        transition: all .4s;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);

        &:focus {
            background-color: #e1e1e1;
        }

        &.error {
            border: 1px solid red;
        }
    }

    span {
        font-size: 12px;
        color: red;
    }

    textarea {
        height: 120px;
        resize: none;
    }

    button {
        width: 100%;
        outline: none;
        padding: 10px 20px;
        border: none;
        font-size: 14px;
        color: #fafafa;
        background-color: #FAAE58;
        transition: background-color .4s;
        box-shadow: 1px 1px 6px rgba(8, 8, 8, 0.3);
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-weight: 400;

        &:hover,
        &:focus {
            cursor: pointer;
            background-color: #f99626;
        }
    }
}