header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 10;
    transition: background-color .4s;

    &.active {
        > div {
            span {
                background-color: white;
            }
        }
    }

    > div {
        z-index: 10;
        cursor: pointer;

        span {
            width: 30px;
            height: 2px;
            background-color: #080808;
            display: block;
            transition: background-color .4s;

            &:not(:last-of-type){
                margin-bottom: 5px;
            }
        }
    }

    nav {
        display: block;
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 10;
        text-align: right;

        &.exited {
            display: none;
        }

        &.entered {
            a {
                right: 20px;
            }
        }

        a {
            display: block;
            position: relative;
            text-decoration: none;
            font-weight: 700;
            color: #fafafa;
            transition: right 0.4s cubic-bezier(0.17, 0.67, 0.73, 1.44);
            text-transform: uppercase;
            right: -100%;

            &:not(:last-of-type){
                margin-bottom: 20px;
            }
        }
    }
}

.landing-page {
    header {
        > div {
            span {
                background-color: white;
            }
        }
    }
}

.scrolled {
    header {
        background-color: rgba(8, 8, 8, 0.4);

        > div {
            span {
                background-color: white;
            }
        }
    }
}

#main-logo {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}

#overlay {
    display: block;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.4);
    opacity: 0;
    transition: opacity .4s;
    cursor: initial;

    &.exited {
        display: none;
    }

    &.entered {
        opacity: 1;
    }
}